#speakers{
    padding-bottom: 80px;
    background-image: url("/images/Frost.jpg");
    
    color: white;

    /* background: url(https://cdn.wallpapersafari.com/13/38/dYExhc.jpg);
    background-size: cover;
    background-position-y: -50px;
    background-attachment: fixed; */
}